.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {
  width: 50%;
  padding: 0.7rem;
  font-size: 1rem;
  outline: 0;
  background: beige;
  border: none;
}

.places-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}

.suggestion-container {
  position: absolute;
  left: 25%;
  top: 5rem;
}

.suggestion {
  border: 1px solid #e8e8e8;
  width: auto;
  margin: 2px;
  background: #FFF;
}

.suggestion:hover {
  background: #e8e8e8;
  cursor: pointer;
}

button {
  display: block;
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65);
  padding: 5px;
  outline: none;
  margin: 4px;
  width: 7rem;
  font-size: 1rem;
  height: 3rem;
}
